<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/static/table.css" type="text/css" media="screen">
    <h1 align="center">欢迎登陆景点评分系统</h1>
    <meta charset="utf-8">
  </head>
  <body>
    <table align="center">
      <tr>
        <th>城市</th>
        <th>主要景点</th>
      </tr>
      <tr>
        <td>丽水</td>
        <td><a href="{{ url_for('lijiang') }}">点击这里</a></td>
      </tr>
      <tr>
        <td>成都</td>
        <td><a href="{{ url_for('chengdu') }}">点击这里</a></td>
      </tr>
      <tr>
        <td>拉萨</td>
        <td><a href="{{ url_for('lasa') }}">点击这里</a></td>
      </tr>
    </table>



  </body>
</html>
